@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Nothing+You+Could+Do); /* Google font */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

#top {
    position: fixed;
    float: right;
    position: fixed;
    border-radius: 50px;
    right: 10px;
    bottom: 150px;
    padding: 10px 16px;
    font-size: 25px;
    background: rgba(228, 211, 211, 0.36);
    color: #6c4438;
    cursor: pointer;
    z-index: 1000;
}
#down {
    position: fixed;
    float: right;
    position: fixed;
    border-radius: 50px;
    right: 10px;
    bottom: 70px;
    padding: 10px 16px;
    font-size: 25px;
    background: rgba(228, 211, 211, 0.36);
    color: #6c4438;
    cursor: pointer;
    z-index: 1000;
}
#myb {
    background: transparent; /*按钮背景透明*/
    border-width: 0px; /*边框透明*/
    outline: none; /*点击后没边框*/
}
#bu {
    /*輪播按鈕*/
    border-width: 0px;
    outline: none;
    width: 45px;
    height: 3px;
}
.iframe-rwd {
    /*google map rwd*/
    position: relative;
    padding-bottom: 50%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.iframe-rwd iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#mat {
    margin-top: 50px;
}
@media screen and (max-width: 768px) {
    #mat {
        margin-top: 0px;
    }
}
#pa {
    padding-left: 100px !important;
}
@media screen and (max-width: 768px) {
    #pa {
        padding-left: 0px !important;
    }
}
#pl {
    margin-left: 200px;
}
@media screen and (max-width: 768px) {
    #pl {
        margin-left: 1px;
    }
}
#side {
    position: fixed;
    left: 60px;
    font-size: 20px;
    padding: 0px;
    top: 140px;
}
@media screen and (max-width: 992px) {
    #side {
        display: none;
    }
}
.side {
    position: fixed;
    left: 60px;
    font-size: 20px;
    padding: 0px;
    top: 140px;
}
@media screen and (max-width: 992px) {
    .side {
        display: none;
    }
}
.sidebar {
    display: none;
}
@media screen and (max-width: 992px) {
    .sidebar {
        display: inline;
    }
}
#member {
    margin-left: 200px;
}
@media screen and (max-width: 992px) {
    #member {
        margin-left: 0px;
    }
}
/*滾動監控*/
.js-scrollspy-nav > a {
    color: #333;
    text-decoration: none;
    display: block;
    padding-right: 0px;
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
}

.nav {
    position: fixed;
    left: 10px;
    font-size: 20px;
    padding: 0px;
}
@media screen and (max-width: 992px) {
    .nav {
        position: relative;
        left: 0px;
    }
}

.content {
    margin: 0;
    padding: 0;
}

.content > li {
    display: block;
    height: 400px;
    box-sizing: border-box;
    border-top: 2px solid #eee;
}

.content > li:last-child {
    border-bottom: 2px solid #eee;
}
.content > li:first-child {
    height: auto;
}
.is-inview {
    background-color: #4c5eff;
    color: #fff;
}
/*滾動監控END*/

.qty {
    /*計數器*/
    width: 40px;
    height: 35px;
    text-align: center;
    border: 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

input.qtyplus,
input.qtyminus {
    width: 25px;
    height: 35px;
    border: 1px solid #aaa;
    background: #f8f8f8;
}

* {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    margin: 0;
}
html {
    height: 100%;
    margin: 0;
}
div {
    font-size: large;
}
.warp {
    min-height: 82%;
}
.footer {
    background-color: #fdd977;
    height: 50pt;
    color: black;
    width: 100%;
    position: relative;
    top: auto;
    bottom: 0%;
    left: 0px;
    font-size: 14px;
    text-align: center;
    vertical-align: bottom;
    padding: 0px;
    margin: 0px;
}
.backfooter {
    background-color: #6c4438;
    height: 50pt;
    color: white;
    width: 100%;
    position: relative;
    top: auto;
    bottom: 0%;
    left: 0px;
    font-size: 14px;
    text-align: center;
    vertical-align: bottom;
    padding: 0px;
    margin: 0px;
}
/* Closed submenu icon */
#sidebar-container
    .list-group
    .list-group-item[aria-expanded="false"]
    .submenu-icon::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container
    .list-group
    .list-group-item[aria-expanded="true"]
    .submenu-icon::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}

.la {
    top: 50%;
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
}

#msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;

    margin: 0 3% 20px 3%;
    position: relative;
}
#home {
    padding-left: 150px !important;
}
@media screen and (max-width: 600px) {
    #home {
        padding-left: 40px !important;
    }
}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
}

#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform fieldset .form-card {
    text-align: left;
}

#msform input[type="text"],
#msform input[type="email"],
#msform input[type="password"],
#msform input[type="tel"],
#msform input[type="date"] {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2c3e50;
    font-size: 16px;
    letter-spacing: 1px;
}
#msform textarea {
    padding: 0px 8px 4px 8px;
    border: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2c3e50;
    font-size: 16px;
    letter-spacing: 1px;
}
#msform input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border-bottom: 2px solid rgb(134, 195, 219);
    outline-width: 0;
}
#msform .action-buttonb {
    width: 100px;
    background: #adc178;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    text-decoration: none;
    font-size: 16px;
}

#msform .action-buttonb:hover,
#msform .action-buttonb:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #adc178;
}
#msform .action-button {
    width: 100px;
    background: rgb(134, 195, 219);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    text-decoration: none;
    font-size: 16px;
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px rgb(134, 195, 219);
}

#msform .action-button-previous {
    width: 100px;
    background: #6c4438;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    text-decoration: none;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #6c4438;
}

select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 35px 3px 5px;
    /* padding: 2px 5px 3px 5px; */
    margin: 2px;
}

select.list-dt:focus {
    border-bottom: 2px solid rgb(134, 195, 219);
}

.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative;
}

.fs-title {
    font-size: 25px;
    color: #2c3e50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}
.fs-title2 {
    font-size: 20px;
    color: #2c3e50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}

table {
    width: 100%;
    table-layout: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tbl-header {
    background-color: #99d6ea;
    text-align: center;
}
.tbl-content {
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
th {
    padding: 20px 15px;
    text-align: center;
    vertical-align: middle;
    font-weight: 500;
    font-size: 12px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}
td {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: rgb(0, 0, 0);
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}
section {
    margin-top: 20px;
    margin-bottom: 20px;
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
}

#progressbar .active {
    color: #000000;
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative;
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f072";
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f040";
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f09d";
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c";
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

#progressbar li:after {
    content: "";
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: skyblue;
}

.radio-group {
    position: relative;
    margin-bottom: 25px;
}

.radio {
    display: inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    margin: 8px 2px;
}

.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

.fit-image {
    width: 100%;
    object-fit: cover;
}
